[Desktop Entry]
Categories=Office;Utility
Comment=A lightweight to-do(Todo) and schedule management(GTD) application.
Comment[zh_CN]=一款轻便的待办事项(Todo)、日程管理(GTD)应用,全球逾千万用户的共同选择
Exec=/opt/apps/com.dida365.ticktick/files/bin/com.dida365.ticktick %U
Icon=dida
Name=Ticktick List
Name[zh_CN]=cn.ticktick.task.desktop
StartupWMClass=dida
Terminal=false
Type=Application
X-Deepin-Vendor=user-custom
