[Desktop Entry]
Type=Application
Name=Ticktick List
Name[zh_CN]=滴答清单
Comment=A lightweight to-do(Todo) and schedule management(GTD) application.
Comment[zh_CN]=一款轻便的待办事项(Todo)、日程管理(GTD)应用,全球逾千万用户的共同选择
Exec=/opt/apps/cn.ticktick.task/files/bin/cn.ticktick.task %U
Icon=dida
StartupWMClass=dida
Terminal=false
Categories=Office;Utility
